<?php

    define('SHOW_ERRORS', false);

	define( 'HUBSPOTAPIKEY',  '');
	
	$cross_origin_domains = array(
		'https://es.greenpeace.org',
		'https://gpstaging.enpruebas.net',
		'http://localhost:8888',
		'http://es.greenpeace.devel',
		'https://greenpeace.github.io'
	);

?>
