<?php

    // Show development errors (it won't return a json)
    define('SHOW_ERRORS', false);

	// Your Hubspot private app key
	define( 'HUBSPOT_PRIVATE_APP_KEY',  '');
	
    // The domains that can use this API (CORS) 
	$cross_origin_domains = array(
		'https://es.greenpeace.org',
		'https://gpstaging.enpruebas.net',
		'http://localhost:8888',
		'http://es.greenpeace.devel',
		'https://greenpeace.github.io'
	);

?>
